PUBLIC_AUTH_KEYCLOAK_SERVER_URL="https://tier1-gateway.gaiax-edc-dev-sd.dev.simpl-europe.eu"
PUBLIC_AUTH_KEYCLOAK_REALM="participant"
PUBLIC_AUTH_KEYCLOAK_CLIENT_ID="frontend-cli"

PUBLIC_SEARCH_API_URL="https://tier1-gateway.gaiax-edc-dev-sd.dev.simpl-europe.eu/xsfc-advsearch-be"
PUBLIC_SEARCH_API_VERSION="v1"
PUBLIC_CONTRACT_CONSUMPTION_API_URL="https://tier1-gateway.gaiax-edc-dev-sd.dev.simpl-europe.eu/contract-consumption"
PUBLIC_CONTRACT_CONSUMPTION_API_VERSION="v1"

PUBLIC_AGENT_TYPE="consumer"
USE_MOCK_APIS="false"
