PUBLIC_AUTH_KEYCLOAK_SERVER_URL="https://tier1-gateway.gaiax-edc-dev-sd.dev.simpl-europe.eu"
PUBLIC_AUTH_KEYCLOAK_REALM="participant"
PUBLIC_AUTH_KEYCLOAK_CLIENT_ID="frontend-cli"

PUBLIC_CREATION_WIZARD_API_URL="https://tier1-gateway.gaiax-edc-dev-sd.dev.simpl-europe.eu/sdtooling-api"
PUBLIC_CREATION_WIZARD_API_VERSION="v2"
PUBLIC_SIGNER_URL="https://tier1-gateway.gaiax-edc-dev-sd.dev.simpl-europe.eu/signer"
