---
// @ts-nocheck
// Typescript nocheck required, because of this issue with imported Vue components:
// https://github.com/withastro/language-tools/issues/649
import { SStatusMessage } from '@simpl/vue-components';
import PageHeader from '@/components/PageHeader.vue';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="SIMPL UI status">
  <main>
    <PageHeader title="Catalogue UI status" />
    <SStatusMessage id="status-ok" client:only="vue" title="Status is OK" variant="success" closeable={false}>
      If this message has a green border on the left, and a rocket icon, then the UI is properly
      loaded.
    </SStatusMessage>
  </main>
</Layout>
